<div class="hpanel" ng-controller="InboxCtrl">
    <div class="panel-body" ng-controller="MailListingCtrl">
        <div class="row">
            <div class="col-md-12 mailbox-pagination m-b-md">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="inbox-count" ng-hide="{{mailItems.length = mailItems.length}}">
                You have no messages
            </div>
            <table class="table table-hover table-mailbox">
                <tbody>

                    <tr ng-class="{active: mailItems.counter == $index}" ng-click="mailItems.counter = $index" ng-repeat="mail in mailItems">
                        <td class="">
                            <div class="checkbox checkbox-single checkbox-success">
                                <input type="checkbox">
                                <label></label>
                            </div>
                        </td>
                        <td><a ng-click="goDetailsMail(mail.id)">{{mail.name}}</a></td>
                        <td><a ng-click="goDetailsMail(mail.id)">{{mail.subject}}</a>
                        </td>
                        <td></td>
                        <td class="text-right mail-date" title="{{mail.date | date:'medium'}}">{{mail.date | date:'h:mm a'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <i class="fa fa-eye"> </i> {{mailItems.length}} unread
    </div>
</div>